In [16]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

In [17]:
df = pd.read_excel('samplestock.xlsx')

In [18]:
df

  Acquisition Date Ticker  Quantity  Unit Cost  Cost Basis Start of Year
0       2013-02-07   AAPL       125      65.40     8175.00    2017-12-29
1       2014-02-27    JNJ       100      81.90     8190.00    2017-12-29
2       2013-06-04    MCD       100      84.99     8499.00    2017-12-29
3       2015-12-14   MTCH       600      13.63     8178.00    2017-12-29
4       2016-01-14   NFLX        75     108.71     8153.25    2017-12-29
5       2013-08-14    WMT       125      68.30     8537.50    2017-12-29
6       2013-12-13     FB       150      53.32     7998.00    2017-12-29
7       2015-01-05   TWTR       225      36.38     8185.50    2017-12-29

In [19]:
import datetime 
start_sp = datetime.datetime(2013, 1, 1)
end_sp = datetime.datetime(2018, 3, 9)

import pandas_datareader.data as web 

sp500 = web.DataReader('^GSPC', 'yahoo', start_sp, end_sp )

In [20]:
sp500

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2012-12-31,1426.739990,1398.109985,1402.430054,1426.189941,3204330000,1426.189941
2013-01-02,1462.430054,1426.189941,1426.189941,1462.420044,4202600000,1462.420044
2013-01-03,1465.469971,1455.530029,1462.420044,1459.369995,3829730000,1459.369995
2013-01-04,1467.939941,1458.989990,1459.369995,1466.469971,3424290000,1466.469971
2013-01-07,1466.469971,1456.619995,1466.469971,1461.890015,3304970000,1461.890015
2013-01-08,1461.890015,1451.640015,1461.890015,1457.150024,3601600000,1457.150024
2013-01-09,1464.729980,1457.150024,1457.150024,1461.020020,3674390000,1461.020020
2013-01-10,1472.300049,1461.020020,1461.020020,1472.119995,4081840000,1472.119995
2013-01-11,1472.750000,1467.579956,1472.119995,1472.050049,3340650000,1472.050049
2013-01-14,1472.050049,1465.689941,1472.050049,1470.680054,3003010000,1470.680054
2013-01-15,1473.310059,1463.760010,1470.670044,1472.339966,3135350000,1472.339966
2013-01-16,1473.959961,1467.599976,1472.329956,1472.630005,3384080000,1472.630005
2013-01-17,1485.160034,1472.630005,1472.630005,1480.939941,3706710000,1480.939941
2013-01-18,1485.979980,1475.810059,1480.949951,1485.979980,3795740000,1485.979980
2013-01-22,1492.560059,1481.160034,1485.979980,1492.560059,3570950000,1492.560059
2013-01-23,1496.130005,1489.900024,1492.560059,1494.810059,3552010000,1494.810059
2013-01-24,1502.270020,1489.459961,1494.810059,1494.819946,3699430000,1494.819946
2013-01-25,1503.260010,1494.819946,1494.819946,1502.959961,3476290000,1502.959961
2013-01-28,1503.229980,1496.329956,1502.959961,1500.180054,3388540000,1500.180054
2013-01-29,1509.349976,1498.089966,1500.180054,1507.839966,3949640000,1507.839966
2013-01-30,1509.939941,1500.109985,1507.839966,1501.959961,3726810000,1501.959961
2013-01-31,1504.189941,1496.760010,1501.959961,1498.109985,3999880000,1498.109985
2013-02-01,1514.410034,1498.109985,1498.109985,1513.170044,3836320000,1513.170044
2013-02-04,1513.170044,1495.020020,1513.170044,1495.709961,3390000000,1495.709961
2013-02-05,1514.959961,1495.709961,1495.709961,1511.290039,3618360000,1511.290039
2013-02-06,1512.530029,1504.709961,1511.290039,1512.119995,3611570000,1512.119995
2013-02-07,1512.900024,1498.489990,1512.119995,1509.390015,3614580000,1509.390015
2013-02-08,1518.310059,1509.390015,1509.390015,1517.930054,2986150000,1517.930054
2013-02-11,1518.310059,1513.609985,1517.930054,1517.010010,2684100000,1517.010010
2013-02-12,1522.290039,1515.609985,1517.010010,1519.430054,3414370000,1519.430054
...,...,...,...,...,...,...
2018-01-26,2872.870117,2846.179932,2847.479980,2872.870117,3443230000,2872.870117
2018-01-29,2870.620117,2851.479980,2867.229980,2853.530029,3573830000,2853.530029
2018-01-30,2837.750000,2818.270020,2832.739990,2822.429932,3990650000,2822.429932
2018-01-31,2839.260010,2813.040039,2832.409912,2823.810059,4261280000,2823.810059
2018-02-01,2835.959961,2812.699951,2816.449951,2821.979980,3938450000,2821.979980
2018-02-02,2808.919922,2759.969971,2808.919922,2762.129883,4301130000,2762.129883
2018-02-05,2763.389893,2638.169922,2741.060059,2648.939941,5283460000,2648.939941
2018-02-06,2701.040039,2593.070068,2614.780029,2695.139893,5891660000,2695.139893
2018-02-07,2727.669922,2681.330078,2690.949951,2681.659912,4626570000,2681.659912
2018-02-08,2685.270020,2580.560059,2685.010010,2581.000000,5305440000,2581.000000
2018-02-09,2638.669922,2532.689941,2601.780029,2619.550049,5680070000,2619.550049
2018-02-12,2672.610107,2622.449951,2636.750000,2656.000000,4055790000,2656.000000
2018-02-13,2668.840088,2637.080078,2646.270020,2662.939941,3472870000,2662.939941
2018-02-14,2702.100098,2648.870117,2651.209961,2698.629883,4003740000,2698.629883
2018-02-15,2731.510010,2689.820068,2713.459961,2731.199951,3684910000,2731.199951
2018-02-16,2754.419922,2725.110107,2727.139893,2732.219971,3637460000,2732.219971
2018-02-20,2737.600098,2706.760010,2722.989990,2716.260010,3627610000,2716.260010
2018-02-21,2747.750000,2701.290039,2720.530029,2701.330078,3779400000,2701.330078
2018-02-22,2731.260010,2697.770020,2710.419922,2703.959961,3701270000,2703.959961
2018-02-23,2747.760010,2713.739990,2715.800049,2747.300049,3189190000,2747.300049
2018-02-26,2780.639893,2753.780029,2757.370117,2779.600098,3424650000,2779.600098
2018-02-27,2789.149902,2744.219971,2780.449951,2744.280029,3745080000,2744.280029
2018-02-28,2761.520020,2713.540039,2753.780029,2713.830078,4230660000,2713.830078
2018-03-01,2730.889893,2659.649902,2715.219971,2677.669922,4503970000,2677.669922
2018-03-02,2696.250000,2647.320068,2658.889893,2691.250000,3882450000,2691.250000
2018-03-05,2728.090088,2675.750000,2681.060059,2720.939941,3710810000,2720.939941
2018-03-06,2732.080078,2711.260010,2730.179932,2728.120117,3370690000,2728.120117
2018-03-07,2730.600098,2701.739990,2710.179932,2726.800049,3393270000,2726.800049
2018-03-08,2740.449951,2722.649902,2732.750000,2738.969971,3212320000,2738.969971
2018-03-09,2786.570068,2751.540039,2752.909912,2786.570068,3364100000,2786.570068

In [21]:
sp_500_adj_close = sp500[['Adj Close']].reset_index()

In [22]:
tickers = df['Ticker'].unique()

In [25]:
def get(tickers, startdate, enddate):
    def data(ticker):
        return (web.DataReader(ticker,'yahoo', start=startdate, end=enddate))
    datas = map(data, tickers)
    return(pd.concat(datas, keys=tickers, names=['Ticker', 'Date']))
               
all_data = get(tickers, start_sp, end_sp)

In [29]:
all_data

                        High        Low       Open      Close       Volume  \
Ticker Date
AAPL   2012-12-31  76.485718  72.714287  72.932854  76.024284  164873100.0
       2013-01-02  79.285713  77.375717  79.117142  78.432854  140129500.0
       2013-01-03  78.524284  77.285713  78.268570  77.442856   88241300.0
       2013-01-04  76.947144  75.118568  76.709999  75.285713  148583400.0
       2013-01-07  75.614288  73.599998  74.571426  74.842857  121039100.0
       2013-01-08  75.984283  74.464287  75.601425  75.044289  114676800.0
       2013-01-09  75.001427  73.712860  74.642860  73.871429  101901100.0
       2013-01-10  75.531425  73.645714  75.507141  74.787140  150286500.0
       2013-01-11  75.045715  74.145714  74.428574  74.328575   87626700.0
       2013-01-14  72.500000  71.215714  71.811432  71.678574  183551900.0
       2013-01-15  71.284286  69.054283  71.185715  69.417145  219193100.0
       2013-01-16  72.777145  70.357140  70.662857  72.298569  172701200.0
       2013-01-17  72.964287  71.718575  72.901428  71.811432  113419600.0
       2013-01-18  71.745712  70.914284  71.217140  71.428574  118230700.0
       2013-01-22  72.554283  70.947144  72.080002  72.110001  115386600.0
       2013-01-23  73.570000  72.110001  72.687141  73.430000  215377400.0
       2013-01-24  66.532860  64.321426  65.714287  64.357140  365213100.0
       2013-01-25  65.175713  62.142857  64.527145  62.840000  302006600.0
       2013-01-28  64.744286  62.265713  62.547142  64.261429  196379400.0
       2013-01-29  65.742859  64.588570  65.500000  65.467140  142789500.0
       2013-01-30  66.085716  64.928574  65.285713  65.261429  104288800.0
       2013-01-31  65.611427  64.997147  65.282860  65.070000   79833600.0
       2013-02-01  65.639999  64.050003  65.587143  64.802856  134871100.0
       2013-02-04  65.134285  63.142857  64.844284  63.188572  119279300.0
       2013-02-05  65.677139  63.174286  63.435715  65.405716  143336900.0
       2013-02-06  66.642860  64.654289  65.209999  65.335716  148426600.0
       2013-02-07  67.142860  64.874283  66.178574  66.888573  176145200.0
       2013-02-08  68.401428  66.892860  67.714287  67.854286  158289600.0
       2013-02-11  69.277145  67.607140  68.071426  68.561432  129372600.0
       2013-02-12  68.911430  66.820000  68.501427  66.842857  152263300.0
...                      ...        ...        ...        ...          ...
TWTR   2018-01-26  24.350000  22.299999  22.389999  24.270000   49683900.0
       2018-01-29  25.549999  24.100000  24.400000  25.180000   52739600.0
       2018-01-30  26.400000  24.549999  24.830000  25.620001   52388100.0
       2018-01-31  26.650000  25.139999  25.610001  25.809999   40451900.0
       2018-02-01  27.330000  25.440001  25.520000  27.139999   47582600.0
       2018-02-02  27.030001  25.700001  26.559999  25.920000   32492100.0
       2018-02-05  26.639999  24.100000  25.370001  25.129999   33918400.0
       2018-02-06  25.580000  24.200001  24.590000  25.240000   26646500.0
       2018-02-07  27.080000  25.760000  25.830000  26.910000   48909300.0
       2018-02-08  35.000000  29.709999  34.150002  30.180000  162434400.0
       2018-02-09  31.809999  29.680000  30.370001  31.510000   67181200.0
       2018-02-12  31.900000  30.860001  31.440001  30.950001   37001000.0
       2018-02-13  33.650002  30.639999  30.670000  33.439999   57653000.0
       2018-02-14  33.980000  32.549999  32.849998  33.750000   39339200.0
       2018-02-15  34.380001  33.060001  34.029999  33.610001   32020500.0
       2018-02-16  33.500000  32.680000  33.369999  33.060001   27901000.0
       2018-02-20  33.570000  32.680000  32.880001  32.840000   22766700.0
       2018-02-21  34.060001  32.650002  33.029999  33.380001   29589300.0
       2018-02-22  33.450001  31.629999  33.430000  32.110001   29184100.0
       2018-02-23  32.689999  31.969999  32.200001  32.660000   17283400.0
       2018-02-26  32.700001  31.959999  32.700001  32.160000   15766300.0
       2018-02-27  32.209999  31.260000  31.910000  31.320000   16544000.0
       2018-02-28  32.849998  31.469999  31.500000  31.860001   24180100.0
       2018-03-01  32.560001  31.260000  31.950001  32.240002   25032500.0
       2018-03-02  33.029999  31.490000  31.930000  33.000000   24918900.0
       2018-03-05  34.950001  32.580002  32.900002  34.580002   34840000.0
       2018-03-06  34.950001  33.860001  34.580002  34.430000   22641000.0
       2018-03-07  35.820000  33.990002  33.990002  35.759998   33656100.0
       2018-03-08  35.840000  34.680000  35.419998  34.849998   24845300.0
       2018-03-09  35.500000  34.939999  35.200001  35.349998   19119500.0

                   Adj Close
Ticker Date
AAPL   2012-12-31  53.767834
       2013-01-02  55.471294
       2013-01-03  54.771122
       2013-01-04  53.245483
       2013-01-07  52.932274
       2013-01-08  53.074741
       2013-01-09  52.245243
       2013-01-10  52.892872
       2013-01-11  52.568550
       2013-01-14  50.694351
       2013-01-15  49.094975
       2013-01-16  51.132851
       2013-01-17  50.788319
       2013-01-18  50.517551
       2013-01-22  50.999481
       2013-01-23  51.933041
       2013-01-24  45.516312
       2013-01-25  44.443314
       2013-01-28  45.448616
       2013-01-29  46.301342
       2013-01-30  46.155865
       2013-01-31  46.020473
       2013-02-01  45.831532
       2013-02-04  44.689850
       2013-02-05  46.257904
       2013-02-06  46.208408
       2013-02-07  49.306507
       2013-02-08  50.018383
       2013-02-11  50.539654
       2013-02-12  49.272812
...                      ...
TWTR   2018-01-26  24.270000
       2018-01-29  25.180000
       2018-01-30  25.620001
       2018-01-31  25.809999
       2018-02-01  27.139999
       2018-02-02  25.920000
       2018-02-05  25.129999
       2018-02-06  25.240000
       2018-02-07  26.910000
       2018-02-08  30.180000
       2018-02-09  31.510000
       2018-02-12  30.950001
       2018-02-13  33.439999
       2018-02-14  33.750000
       2018-02-15  33.610001
       2018-02-16  33.060001
       2018-02-20  32.840000
       2018-02-21  33.380001
       2018-02-22  32.110001
       2018-02-23  32.660000
       2018-02-26  32.160000
       2018-02-27  31.320000
       2018-02-28  31.860001
       2018-03-01  32.240002
       2018-03-02  33.000000
       2018-03-05  34.580002
       2018-03-06  34.430000
       2018-03-07  35.759998
       2018-03-08  34.849998
       2018-03-09  35.349998

[9512 rows x 6 columns]

In [34]:
all_data.reset_index

<bound method DataFrame.reset_index of                         High        Low       Open      Close       Volume  \
Ticker Date
AAPL   2012-12-31  76.485718  72.714287  72.932854  76.024284  164873100.0
       2013-01-02  79.285713  77.375717  79.117142  78.432854  140129500.0
       2013-01-03  78.524284  77.285713  78.268570  77.442856   88241300.0
       2013-01-04  76.947144  75.118568  76.709999  75.285713  148583400.0
       2013-01-07  75.614288  73.599998  74.571426  74.842857  121039100.0
       2013-01-08  75.984283  74.464287  75.601425  75.044289  114676800.0
       2013-01-09  75.001427  73.712860  74.642860  73.871429  101901100.0
       2013-01-10  75.531425  73.645714  75.507141  74.787140  150286500.0
       2013-01-11  75.045715  74.145714  74.428574  74.328575   87626700.0
       2013-01-14  72.500000  71.215714  71.811432  71.678574  183551900.0
       2013-01-15  71.284286  69.054283  71.185715  69.417145  219193100.0
       2013-01-16  72.777145  70.357140  70.662857  72.298569  172701200.0
       2013-01-17  72.964287  71.718575  72.901428  71.811432  113419600.0
       2013-01-18  71.745712  70.914284  71.217140  71.428574  118230700.0
       2013-01-22  72.554283  70.947144  72.080002  72.110001  115386600.0
       2013-01-23  73.570000  72.110001  72.687141  73.430000  215377400.0
       2013-01-24  66.532860  64.321426  65.714287  64.357140  365213100.0
       2013-01-25  65.175713  62.142857  64.527145  62.840000  302006600.0
       2013-01-28  64.744286  62.265713  62.547142  64.261429  196379400.0
       2013-01-29  65.742859  64.588570  65.500000  65.467140  142789500.0
       2013-01-30  66.085716  64.928574  65.285713  65.261429  104288800.0
       2013-01-31  65.611427  64.997147  65.282860  65.070000   79833600.0
       2013-02-01  65.639999  64.050003  65.587143  64.802856  134871100.0
       2013-02-04  65.134285  63.142857  64.844284  63.188572  119279300.0
       2013-02-05  65.677139  63.174286  63.435715  65.405716  143336900.0
       2013-02-06  66.642860  64.654289  65.209999  65.335716  148426600.0
       2013-02-07  67.142860  64.874283  66.178574  66.888573  176145200.0
       2013-02-08  68.401428  66.892860  67.714287  67.854286  158289600.0
       2013-02-11  69.277145  67.607140  68.071426  68.561432  129372600.0
       2013-02-12  68.911430  66.820000  68.501427  66.842857  152263300.0
...                      ...        ...        ...        ...          ...
TWTR   2018-01-26  24.350000  22.299999  22.389999  24.270000   49683900.0
       2018-01-29  25.549999  24.100000  24.400000  25.180000   52739600.0
       2018-01-30  26.400000  24.549999  24.830000  25.620001   52388100.0
       2018-01-31  26.650000  25.139999  25.610001  25.809999   40451900.0
       2018-02-01  27.330000  25.440001  25.520000  27.139999   47582600.0
       2018-02-02  27.030001  25.700001  26.559999  25.920000   32492100.0
       2018-02-05  26.639999  24.100000  25.370001  25.129999   33918400.0
       2018-02-06  25.580000  24.200001  24.590000  25.240000   26646500.0
       2018-02-07  27.080000  25.760000  25.830000  26.910000   48909300.0
       2018-02-08  35.000000  29.709999  34.150002  30.180000  162434400.0
       2018-02-09  31.809999  29.680000  30.370001  31.510000   67181200.0
       2018-02-12  31.900000  30.860001  31.440001  30.950001   37001000.0
       2018-02-13  33.650002  30.639999  30.670000  33.439999   57653000.0
       2018-02-14  33.980000  32.549999  32.849998  33.750000   39339200.0
       2018-02-15  34.380001  33.060001  34.029999  33.610001   32020500.0
       2018-02-16  33.500000  32.680000  33.369999  33.060001   27901000.0
       2018-02-20  33.570000  32.680000  32.880001  32.840000   22766700.0
       2018-02-21  34.060001  32.650002  33.029999  33.380001   29589300.0
       2018-02-22  33.450001  31.629999  33.430000  32.110001   29184100.0
       2018-02-23  32.689999  31.969999  32.200001  32.660000   17283400.0
       2018-02-26  32.700001  31.959999  32.700001  32.160000   15766300.0
       2018-02-27  32.209999  31.260000  31.910000  31.320000   16544000.0
       2018-02-28  32.849998  31.469999  31.500000  31.860001   24180100.0
       2018-03-01  32.560001  31.260000  31.950001  32.240002   25032500.0
       2018-03-02  33.029999  31.490000  31.930000  33.000000   24918900.0
       2018-03-05  34.950001  32.580002  32.900002  34.580002   34840000.0
       2018-03-06  34.950001  33.860001  34.580002  34.430000   22641000.0
       2018-03-07  35.820000  33.990002  33.990002  35.759998   33656100.0
       2018-03-08  35.840000  34.680000  35.419998  34.849998   24845300.0
       2018-03-09  35.500000  34.939999  35.200001  35.349998   19119500.0

                   Adj Close
Ticker Date
AAPL   2012-12-31  53.767834
       2013-01-02  55.471294
       2013-01-03  54.771122
       2013-01-04  53.245483
       2013-01-07  52.932274
       2013-01-08  53.074741
       2013-01-09  52.245243
       2013-01-10  52.892872
       2013-01-11  52.568550
       2013-01-14  50.694351
       2013-01-15  49.094975
       2013-01-16  51.132851
       2013-01-17  50.788319
       2013-01-18  50.517551
       2013-01-22  50.999481
       2013-01-23  51.933041
       2013-01-24  45.516312
       2013-01-25  44.443314
       2013-01-28  45.448616
       2013-01-29  46.301342
       2013-01-30  46.155865
       2013-01-31  46.020473
       2013-02-01  45.831532
       2013-02-04  44.689850
       2013-02-05  46.257904
       2013-02-06  46.208408
       2013-02-07  49.306507
       2013-02-08  50.018383
       2013-02-11  50.539654
       2013-02-12  49.272812
...                      ...
TWTR   2018-01-26  24.270000
       2018-01-29  25.180000
       2018-01-30  25.620001
       2018-01-31  25.809999
       2018-02-01  27.139999
       2018-02-02  25.920000
       2018-02-05  25.129999
       2018-02-06  25.240000
       2018-02-07  26.910000
       2018-02-08  30.180000
       2018-02-09  31.510000
       2018-02-12  30.950001
       2018-02-13  33.439999
       2018-02-14  33.750000
       2018-02-15  33.610001
       2018-02-16  33.060001
       2018-02-20  32.840000
       2018-02-21  33.380001
       2018-02-22  32.110001
       2018-02-23  32.660000
       2018-02-26  32.160000
       2018-02-27  31.320000
       2018-02-28  31.860001
       2018-03-01  32.240002
       2018-03-02  33.000000
       2018-03-05  34.580002
       2018-03-06  34.430000
       2018-03-07  35.759998
       2018-03-08  34.849998
       2018-03-09  35.349998

[9512 rows x 6 columns]>

In [36]:
all_data = all_data.reset_index

In [37]:
all_data

<bound method DataFrame.reset_index of                         High        Low       Open      Close       Volume  \
Ticker Date
AAPL   2012-12-31  76.485718  72.714287  72.932854  76.024284  164873100.0
       2013-01-02  79.285713  77.375717  79.117142  78.432854  140129500.0
       2013-01-03  78.524284  77.285713  78.268570  77.442856   88241300.0
       2013-01-04  76.947144  75.118568  76.709999  75.285713  148583400.0
       2013-01-07  75.614288  73.599998  74.571426  74.842857  121039100.0
       2013-01-08  75.984283  74.464287  75.601425  75.044289  114676800.0
       2013-01-09  75.001427  73.712860  74.642860  73.871429  101901100.0
       2013-01-10  75.531425  73.645714  75.507141  74.787140  150286500.0
       2013-01-11  75.045715  74.145714  74.428574  74.328575   87626700.0
       2013-01-14  72.500000  71.215714  71.811432  71.678574  183551900.0
       2013-01-15  71.284286  69.054283  71.185715  69.417145  219193100.0
       2013-01-16  72.777145  70.357140  70.662857  72.298569  172701200.0
       2013-01-17  72.964287  71.718575  72.901428  71.811432  113419600.0
       2013-01-18  71.745712  70.914284  71.217140  71.428574  118230700.0
       2013-01-22  72.554283  70.947144  72.080002  72.110001  115386600.0
       2013-01-23  73.570000  72.110001  72.687141  73.430000  215377400.0
       2013-01-24  66.532860  64.321426  65.714287  64.357140  365213100.0
       2013-01-25  65.175713  62.142857  64.527145  62.840000  302006600.0
       2013-01-28  64.744286  62.265713  62.547142  64.261429  196379400.0
       2013-01-29  65.742859  64.588570  65.500000  65.467140  142789500.0
       2013-01-30  66.085716  64.928574  65.285713  65.261429  104288800.0
       2013-01-31  65.611427  64.997147  65.282860  65.070000   79833600.0
       2013-02-01  65.639999  64.050003  65.587143  64.802856  134871100.0
       2013-02-04  65.134285  63.142857  64.844284  63.188572  119279300.0
       2013-02-05  65.677139  63.174286  63.435715  65.405716  143336900.0
       2013-02-06  66.642860  64.654289  65.209999  65.335716  148426600.0
       2013-02-07  67.142860  64.874283  66.178574  66.888573  176145200.0
       2013-02-08  68.401428  66.892860  67.714287  67.854286  158289600.0
       2013-02-11  69.277145  67.607140  68.071426  68.561432  129372600.0
       2013-02-12  68.911430  66.820000  68.501427  66.842857  152263300.0
...                      ...        ...        ...        ...          ...
TWTR   2018-01-26  24.350000  22.299999  22.389999  24.270000   49683900.0
       2018-01-29  25.549999  24.100000  24.400000  25.180000   52739600.0
       2018-01-30  26.400000  24.549999  24.830000  25.620001   52388100.0
       2018-01-31  26.650000  25.139999  25.610001  25.809999   40451900.0
       2018-02-01  27.330000  25.440001  25.520000  27.139999   47582600.0
       2018-02-02  27.030001  25.700001  26.559999  25.920000   32492100.0
       2018-02-05  26.639999  24.100000  25.370001  25.129999   33918400.0
       2018-02-06  25.580000  24.200001  24.590000  25.240000   26646500.0
       2018-02-07  27.080000  25.760000  25.830000  26.910000   48909300.0
       2018-02-08  35.000000  29.709999  34.150002  30.180000  162434400.0
       2018-02-09  31.809999  29.680000  30.370001  31.510000   67181200.0
       2018-02-12  31.900000  30.860001  31.440001  30.950001   37001000.0
       2018-02-13  33.650002  30.639999  30.670000  33.439999   57653000.0
       2018-02-14  33.980000  32.549999  32.849998  33.750000   39339200.0
       2018-02-15  34.380001  33.060001  34.029999  33.610001   32020500.0
       2018-02-16  33.500000  32.680000  33.369999  33.060001   27901000.0
       2018-02-20  33.570000  32.680000  32.880001  32.840000   22766700.0
       2018-02-21  34.060001  32.650002  33.029999  33.380001   29589300.0
       2018-02-22  33.450001  31.629999  33.430000  32.110001   29184100.0
       2018-02-23  32.689999  31.969999  32.200001  32.660000   17283400.0
       2018-02-26  32.700001  31.959999  32.700001  32.160000   15766300.0
       2018-02-27  32.209999  31.260000  31.910000  31.320000   16544000.0
       2018-02-28  32.849998  31.469999  31.500000  31.860001   24180100.0
       2018-03-01  32.560001  31.260000  31.950001  32.240002   25032500.0
       2018-03-02  33.029999  31.490000  31.930000  33.000000   24918900.0
       2018-03-05  34.950001  32.580002  32.900002  34.580002   34840000.0
       2018-03-06  34.950001  33.860001  34.580002  34.430000   22641000.0
       2018-03-07  35.820000  33.990002  33.990002  35.759998   33656100.0
       2018-03-08  35.840000  34.680000  35.419998  34.849998   24845300.0
       2018-03-09  35.500000  34.939999  35.200001  35.349998   19119500.0

                   Adj Close
Ticker Date
AAPL   2012-12-31  53.767834
       2013-01-02  55.471294
       2013-01-03  54.771122
       2013-01-04  53.245483
       2013-01-07  52.932274
       2013-01-08  53.074741
       2013-01-09  52.245243
       2013-01-10  52.892872
       2013-01-11  52.568550
       2013-01-14  50.694351
       2013-01-15  49.094975
       2013-01-16  51.132851
       2013-01-17  50.788319
       2013-01-18  50.517551
       2013-01-22  50.999481
       2013-01-23  51.933041
       2013-01-24  45.516312
       2013-01-25  44.443314
       2013-01-28  45.448616
       2013-01-29  46.301342
       2013-01-30  46.155865
       2013-01-31  46.020473
       2013-02-01  45.831532
       2013-02-04  44.689850
       2013-02-05  46.257904
       2013-02-06  46.208408
       2013-02-07  49.306507
       2013-02-08  50.018383
       2013-02-11  50.539654
       2013-02-12  49.272812
...                      ...
TWTR   2018-01-26  24.270000
       2018-01-29  25.180000
       2018-01-30  25.620001
       2018-01-31  25.809999
       2018-02-01  27.139999
       2018-02-02  25.920000
       2018-02-05  25.129999
       2018-02-06  25.240000
       2018-02-07  26.910000
       2018-02-08  30.180000
       2018-02-09  31.510000
       2018-02-12  30.950001
       2018-02-13  33.439999
       2018-02-14  33.750000
       2018-02-15  33.610001
       2018-02-16  33.060001
       2018-02-20  32.840000
       2018-02-21  33.380001
       2018-02-22  32.110001
       2018-02-23  32.660000
       2018-02-26  32.160000
       2018-02-27  31.320000
       2018-02-28  31.860001
       2018-03-01  32.240002
       2018-03-02  33.000000
       2018-03-05  34.580002
       2018-03-06  34.430000
       2018-03-07  35.759998
       2018-03-08  34.849998
       2018-03-09  35.349998

[9512 rows x 6 columns]>